<div class="container">
  <h1>{{title}}</h1>
  {{!-- <img id="imageFile" src="./images/{{pictureURL}}" /> --}}
  {{!-- <form id="form1" enctype="multipart/form-data" name="Upload" method="post"> --}}
    {{!-- <img id="output" /> --}}
    {{!-- <input id="imageFile" type='file' /> --}}
    {{!-- <img id="blah" src="#" alt="your image" /> --}}
    {{!-- <input type="submit" value="Submit" value="Upload" /> --}}
  {{!-- </form> --}}

  <div class="haiku-image-container">
    <img src="./images/{{pictureURL}}" id="haiku-image" />
  </div>

  <div class="haiku">
    <p>{{sentence1}}</p>
    <p>{{sentence2}}</p>
    <p>{{sentence3}}</p>
  </div>

  <form class="file-form" id="myForm" action="/" method="post" enctype="multipart/form-data">

    <label class="file-upload" for="file-upload">
      <input id="file-upload" type="file" name="avatar" />
      Upload
    </label>

    <label class="file-submit" for="file-submit">
      <input id="file-submit" type="submit" />
      Submit
    </label>
  </form>


  <div id="responseLOL"></div>

</div>