<div id="loading-overlay" class="loading-overlay">
  <p>generating...</p>
</div>


<div class="container">
  {{!-- {{#if pictureURL}} --}}
    <div class="haiku-image-container {{#unless pictureURL}}haiku-image-container--hidden{{/unless}}">
      <img src="./images/{{pictureURL}}" id="haiku-image" />
    </div>
  {{!-- {{/if}} --}}

  {{#if title}}
    <h1>{{title}}</h1>
  {{/if}}

  {{#if sentence1}}
    <div class="haiku">
      <p>{{sentence1}}</p>
      <p>{{sentence2}}</p>
      <p>{{sentence3}}</p>
    </div>
  {{/if}}

  <form class="file-form" id="myForm" action="/" method="post" enctype="multipart/form-data">
    <label class="file-upload" for="file-upload">
      <input id="file-upload" type="file" name="avatar" />
      {{#if pictureURL}}retry{{else}}upload{{/if}}
    </label>

    {{!-- <label class="file-submit" for="file-submit">
      <input id="file-submit" type="submit" />
      submit
    </label> --}}
  </form>



  {{!-- <div class="files">
    <h2>Files in Image Folder</h2>
    {{#each imagesInFolder}}
      <hr>
      <p>{{this}}</p>
    {{/each}}
  </div> --}}

  <div id="responseLOL"></div>

</div>